<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="card bg-light shadow">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
          <h4 class="mb-0">{{ titleHero }}</h4>
          <span class="ms-auto">Total de héroes: {{ heroes.length }}</span>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="bg-primary text-white">
              <tr>
                <th scope="col" style="width: 40%;">Hero Name</th>
                <th scope="col" style="width: 40%;">Real Name</th>
                <th scope="col" style="width: 20%;">Age</th>
              </tr>
              </thead>
              <tbody>
              <tr class="table-light" *ngFor="let hero of heroes">
                <td>{{ hero.heroName }}</td>
                <td>{{ hero.realName }}</td>
                <td>{{ hero.age }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <button class="btn btn-outline-danger" *ngIf="heroes.length > 0" (click)="removeLastHero()">Delete Last Hero</button>
          <button class="btn btn-outline-primary" (click)="addNewHero()">Add New Hero</button>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-header bg-warning text-dark d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Deleted Heroes</h5>
          <span>{{ totalHeroesDelete }}</span>
        </div>
        <div class="card-body">
          <div *ngIf="totalHeroesDelete  === 0; else showDeletedHeroes" class="alert alert-info text-center">
            No heroes have been deleted yet.
          </div>
          <ng-template #showDeletedHeroes>
            <ul class="list-group">
              <li class="list-group-item">

                <strong>{{ deleteHero?.heroName }}</strong> ({{ deleteHero?.realName }}) - Age: {{ deleteHero?.age }}
              </li>
            </ul>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
